.navbar {
  background-color: #002c41;
}

.nav-pills {
  color: #00a8e2;
}

.nav-fill {
  color: #00a8e2;
}

.bg-light {
  opacity: 0.7;
}

.bg-color {
  background-color: #002c41;
  opacity: 0.7;
  border-radius: 10px;
}

h3 {
  color: #ffffff;
}

h5 {
  color: #ffffff;
  font-weight: 900;
  text-decoration-color: #00a8e2;
  font-size: 22px;
  opacity: 1;
}

.p-color {
  color: #ffffff;
  font-weight: 600;
  opacity: 1;
  font-size: 18px;
  padding: 20px;

}
.ul-1{
  text-align: left;
  margin-left: 400px;
}

.container-1 {
  background-color: #002c41;
  margin-top: 100px;
  /* border-radius: 0 0px 10px 10px; */
  opacity: 0.9;
  margin: auto;
  /* margin-left: 10px;
  margin-right: 10px; */
  padding: 40px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #00a8e2;
}

.h1-heading {
  text-align: center;
}

.image-hardware {
  width: 50%;
  align: left;
  display: inline-block;
  height: 685px;
}

.img-2 {
  filter: invert(100%);
  opacity: .5;
}

.col-2 {
  background-color: #002c41;
  width: 500px;
}

.col-3 {
  background-color: #002c41;
  /* width: 500px; */
  width: 800px;
}

.printer-text {
  background-color: #00a8e2;
  width: 50%;
  display: inline-block;
  color: #002c41;
  margin: auto;
  padding: 40px;
  text-align: center;
  font-size: 27px;
}

.services-heading {
  text-align: center;
  background: rgb(0, 44, 65);
  background: linear-gradient(180deg, rgba(0, 44, 65, 1) 50%, rgba(0, 168, 226, 1) 95%);
  color: white;
  margin-bottom: -10px;
  padding: 80px;
  font-size: 48px;
}

.image-software {
  width: 50%;
  height: 685px;
}

.software-text {
  background-color: #002c41;
  padding: 40px;
  text-align: center;
  padding-right: 40px;
  font-size: 27px;
}

.image-hardware-2 {
  height: 750px;
}

.hardware-div {
  margin-top: -10px;
}


.row-1{
  float: left;
  width: 33.33%;
  height: 300px;
  border: solid;
  padding: 10px;
}
.row-2{
  width: 33.33%;
  height: 300px;
  float: left;
  border: solid;
  padding: 10px;
}
.row-3{
  width: 33.33%;
  height:300px;
  float:right;
  border: solid;
  padding: 10px;
}
.column{
  height: 400px;
}
.print-services-div{
  height: 650px;
  background-color: #00a8e2;
}
.print-services-ul{
margin-left: 100px;
margin-top: 10px;
line-height: 90px;
}
